<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<dict>
			<key>name</key>
			<string>艾林</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>17710405001</string>
			<key>age</key>
			<string>24</string>
			<key>hobby</key>
			<string>羽毛球</string>
		</dict>
	</array>
	<key>C</key>
	<array>
		<dict>
			<key>name</key>
			<string>陈向高</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>18830151992</string>
			<key>age</key>
			<string>23</string>
			<key>hobby</key>
			<string>编程、打游戏、听音乐多一点……
</string>
		</dict>
		<dict>
			<key>name</key>
			<string>陈强</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>18519660697</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>打篮球,看电影</string>
		</dict>
		<dict>
			<key>name</key>
			<string>褚凡生</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>18757434109</string>
			<key>age</key>
			<string>23</string>
			<key>hobby</key>
			<string>看小说，看电影，旅游(多了去了)………</string>
		</dict>
	</array>
	<key>F</key>
	<array>
		<dict>
			<key>name</key>
			<string>冯钰书</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>15663332788</string>
			<key>age</key>
			<string>24</string>
			<key>hobby</key>
			<string>乔丹运动鞋. 跆拳道.旅游.电子竞技</string>
		</dict>
	</array>
	<key>G</key>
	<array>
		<dict>
			<key>name</key>
			<string>耿薇</string>
			<key>gender</key>
			<string>女</string>
			<key>phone</key>
			<string>15542342223</string>
			<key>age</key>
			<string>24</string>
			<key>hobby</key>
			<string>周杰伦</string>
		</dict>
		<dict>
			<key>name</key>
			<string>郭庆扬</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>18810152570 </string>
			<key>age</key>
			<string>25</string>
			<key>hobby</key>
			<string>篮球,唱歌,LOL</string>
		</dict>
		<dict>
			<key>name</key>
			<string>高蒙</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>18838231231</string>
			<key>age</key>
			<string>24</string>
			<key>hobby</key>
			<string>鉴赏美女;欣赏美女;撸串谈人生;LOL;唱歌;跳舞
</string>
		</dict>
	</array>
	<key>H</key>
	<array>
		<dict>
			<key>name</key>
			<string>候美花</string>
			<key>gender</key>
			<string>女</string>
			<key>phone</key>
			<string>13581545040</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>逛街</string>
		</dict>
		<dict>
			<key>name</key>
			<string>胡晓</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>15632153479</string>
			<key>age</key>
			<string>23</string>
			<key>hobby</key>
			<string>iOS</string>
		</dict>
	</array>
	<key>J</key>
	<array>
		<dict>
			<key>name</key>
			<string>贾竹峰</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>15091684160</string>
			<key>age</key>
			<string>24</string>
			<key>hobby</key>
			<string>听歌,看电影,旅游等</string>
		</dict>
		<dict>
			<key>name</key>
			<string>金善男</string>
			<key>gender</key>
			<string>女
</string>
			<key>phone</key>
			<string>18600405134</string>
			<key>age</key>
			<string>24</string>
			<key>hobby</key>
			<string>登山,徒步,烹饪,电影</string>
		</dict>
	</array>
	<key>K</key>
	<array>
		<dict>
			<key>name</key>
			<string>康柯</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>13718046762</string>
			<key>age</key>
			<string>25</string>
			<key>hobby</key>
			<string>运动</string>
		</dict>
	</array>
	<key>L</key>
	<array>
		<dict>
			<key>name</key>
			<string>刘晓东</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>15010002309</string>
			<key>age</key>
			<string>24</string>
			<key>hobby</key>
			<string>武术, 骑行, 感受大自然, 山水游, 影视大剧</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘东浩</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>18518633459    </string>
			<key>age</key>
			<string>24</string>
			<key>hobby</key>
			<string>篮球</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李彬</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>13619876143</string>
			<key>age</key>
			<string>23</string>
			<key>hobby</key>
			<string>你猜</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李宝俭</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>15624969987</string>
			<key>age</key>
			<string>24</string>
			<key>hobby</key>
			<string>篮球</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘占雨</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>18733101663</string>
			<key>age</key>
			<string>24</string>
			<key>hobby</key>
			<string>打台球
打台球
</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李琪</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>13707089317</string>
			<key>age</key>
			<string>23</string>
			<key>hobby</key>
			<string>旅游</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘伟</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>18389187371</string>
			<key>age</key>
			<string>30</string>
			<key>hobby</key>
			<string>健身，游泳</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李鹏达</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>18514277979</string>
			<key>age</key>
			<string>24</string>
			<key>hobby</key>
			<string>睡觉</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李亚川</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>18511904037</string>
			<key>age</key>
			<string>24</string>
			<key>hobby</key>
			<string>打篮球,游泳</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李景景</string>
			<key>gender</key>
			<string>女</string>
			<key>phone</key>
			<string>15011519950</string>
			<key>age</key>
			<string>23</string>
			<key>hobby</key>
			<string>听歌，看电视</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘雨田</string>
			<key>gender</key>
			<string>女</string>
			<key>phone</key>
			<string>13718117406</string>
			<key>age</key>
			<string>18</string>
			<key>hobby</key>
			<string>鉴赏美女
</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李怀阳</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>13361027656</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>运动,听音乐</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘永兴</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>15810359591</string>
			<key>age</key>
			<string>23</string>
			<key>hobby</key>
			<string>看电影,打篮球, 玩游戏,旅游,睡觉</string>
		</dict>
		<dict>
			<key>name</key>
			<string>梁晓龙</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>18736130325</string>
			<key>age</key>
			<string>25</string>
			<key>hobby</key>
			<string>篮球，足球，排球</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘力玮</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>15231225057</string>
			<key>age</key>
			<string>23</string>
			<key>hobby</key>
			<string>看电影</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李彬彬</string>
			<key>gender</key>
			<string>女</string>
			<key>phone</key>
			<string>13426039246</string>
			<key>age</key>
			<string>23</string>
			<key>hobby</key>
			<string>动漫,cosplay,看动漫</string>
		</dict>
	</array>
	<key>M</key>
	<array>
		<dict>
			<key>name</key>
			<string>马延玉</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>13520175037</string>
			<key>age</key>
			<string>24</string>
			<key>hobby</key>
			<string>玩</string>
		</dict>
	</array>
	<key>N</key>
	<array>
		<dict>
			<key>name</key>
			<string>牛龙</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>18236583719</string>
			<key>age</key>
			<string>24</string>
			<key>hobby</key>
			<string>玩电脑,打网球</string>
		</dict>
	</array>
	<key>Q</key>
	<array>
		<dict>
			<key>name</key>
			<string>齐伟强</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>15810382868</string>
			<key>age</key>
			<string>25</string>
			<key>hobby</key>
			<string>篮球,乒乓球</string>
		</dict>
	</array>
	<key>S</key>
	<array>
		<dict>
			<key>name</key>
			<string>沈文超 </string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>13731260187</string>
			<key>age</key>
			<string>23</string>
			<key>hobby</key>
			<string>看美剧 
</string>
		</dict>
		<dict>
			<key>name</key>
			<string>孙军义</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>13598417501</string>
			<key>age</key>
			<string>26</string>
			<key>hobby</key>
			<string>看电影 打豆豆</string>
		</dict>
		<dict>
			<key>name</key>
			<string>邵亮亮</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>18518633449</string>
			<key>age</key>
			<string>23</string>
			<key>hobby</key>
			<string>台球</string>
		</dict>
		<dict>
			<key>name</key>
			<string>司方</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>15093382091</string>
			<key>age</key>
			<string>23</string>
			<key>hobby</key>
			<string> 打LOL,打篮球</string>
		</dict>
		<dict>
			<key>name</key>
			<string>孙德彪</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>15966817776</string>
			<key>age</key>
			<string>24</string>
			<key>hobby</key>
			<string>听音乐</string>
		</dict>
		<dict>
			<key>name</key>
			<string>苏旺</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>15301148575</string>
			<key>age</key>
			<string>24</string>
			<key>hobby</key>
			<string>编程,beauty girl &amp; sexy lady 音乐</string>
		</dict>
	</array>
	<key>W</key>
	<array>
		<dict>
			<key>name</key>
			<string>王靖
</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>13022955036</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>玩游戏</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王星介</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>18941553345</string>
			<key>age</key>
			<string>23</string>
			<key>hobby</key>
			<string>逛街 游泳 吃好吃的</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王朔</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>18032407260</string>
			<key>age</key>
			<string>24</string>
			<key>hobby</key>
			<string>看电影,打篮球</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王贺维</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>15032215392</string>
			<key>age</key>
			<string>24</string>
			<key>hobby</key>
			<string>喜欢打篮球,玩游戏,喜欢看小说</string>
		</dict>
	</array>
	<key>X</key>
	<array>
		<dict>
			<key>name</key>
			<string>徐志斌</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>15010012598</string>
			<key>age</key>
			<string>24</string>
			<key>hobby</key>
			<string>羽毛球,听歌</string>
		</dict>
		<dict>
			<key>name</key>
			<string>徐恒</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>18727823918</string>
			<key>age</key>
			<string>18</string>
			<key>hobby</key>
			<string>打篮球  听音乐   看电影   旅游   等等</string>
		</dict>
	</array>
	<key>Y</key>
	<array>
		<dict>
			<key>name</key>
			<string>杨涛</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>15810278591</string>
			<key>age</key>
			<string>22</string>
			<key>hobby</key>
			<string>看电影,打游戏,听音乐</string>
		</dict>
		<dict>
			<key>name</key>
			<string>杨锐敏</string>
			<key>gender</key>
			<string>女</string>
			<key>phone</key>
			<string>15518820590</string>
			<key>age</key>
			<string>23</string>
			<key>hobby</key>
			<string>吃饭 睡觉</string>
		</dict>
	</array>
	<key>Z</key>
	<array>
		<dict>
			<key>name</key>
			<string>赵旭东</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>13592657360 </string>
			<key>age</key>
			<string>24</string>
			<key>hobby</key>
			<string>看电影 听音乐</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张立峰</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>18721146527     </string>
			<key>age</key>
			<string>26</string>
			<key>hobby</key>
			<string>电影  乒乓球   枪械</string>
		</dict>
		<dict>
			<key>name</key>
			<string>周佳伟</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>18679822504</string>
			<key>age</key>
			<string>29</string>
			<key>hobby</key>
			<string>追求表哥的小爽</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张泽昊</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>13212190857</string>
			<key>age</key>
			<string>25</string>
			<key>hobby</key>
			<string>女</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张鹏飞</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>13718707645</string>
			<key>age</key>
			<string>18</string>
			<key>hobby</key>
			<string>睡觉</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张立志</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>18249690357</string>
			<key>age</key>
			<string>26   </string>
			<key>hobby</key>
			<string>看电子书打乒乓球滑冰</string>
		</dict>
		<dict>
			<key>name</key>
			<string>周童</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>13567860583</string>
			<key>age</key>
			<string>27</string>
			<key>hobby</key>
			<string>打球  吃好吃的  打游戏</string>
		</dict>
		<dict>
			<key>name</key>
			<string>郑翔腾</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>18510333883</string>
			<key>age</key>
			<string>24</string>
			<key>hobby</key>
			<string>健身,魔方,蝴蝶刀</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张龙康</string>
			<key>gender</key>
			<string>男</string>
			<key>phone</key>
			<string>18396862734</string>
			<key>age</key>
			<string>24</string>
			<key>hobby</key>
			<string>看书,看电影,旅行</string>
		</dict>
	</array>
</dict>
</plist>
